/* styles.css */

* {
	font-family: Arial;
}

html {
	background-color: Linen;
	background-image: linear-gradient(linen, linen);
}

h1 {
	color: Navy;
	font-size: 50px;
	letter-spacing: 10px;
}

div {transform: rotate(360deg);
 }


